* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: rgb(208, 250, 255);
}


/* ============================================

        navigation bar css form here

============================================ */


img {
    width: 25%;
    padding-right: 60px;
}

header {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    font-family: Arial;
    
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 9px;
    font-weight: 600;
    padding: 11px 20px ;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: #f6f4ff;
}

nav ul li a.active {
    background: rgb(176, 208, 78);
    color: #fff;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}


/* ============================================
 
    responsive navigation bar css form here

============================================ */


@media only screen and (max-width: 1100px) {
    header {
        padding: 0 20px;
        transition: 0.8s;
    }

    nav {
        position: absolute;
        left: -300;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        padding: 2px;
        margin: 0;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: -100%;
        transition: 0.8s;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 10px;
        padding: 10px 15px;
        border-radius: 5px;
        
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;

    }


}


/* ============================================

                 end form here

============================================ */


/* ============================================

         main body css star form here

============================================ */

.sorrytext {
    font-family: 'Courier New';
    margin-top: 300px;
    margin-left: 480px;
    
}

